@model EduShop_Unsecure.Models.SearchModel



@using (Html.BeginForm("Product", "Home", FormMethod.Get))
{
    <div class="input-group" style="margin-right:20px">

        <input id="Searchbox" type="search" name="search" class="form-control" placeholder="Search" />
        
    </div>
}


