@model EduShop_Unsecure.Models.SearchModel



@using (Html.BeginForm("Product", "Home", FormMethod.Get))
{

        <div class="form-group" style="margin-top:6px; margin-right: 20px ">

            <input id="Searchbox" type="search" name="search" class="form-control" placeholder="Search" />

        </div>
}


