@model EduShop_Unsecure.Models.ProductModel

<div class="shoppingCartItem">
    <div class="col-md-8">
        @Model.Name x 1
    </div>
    <div class="col-md-3">
        @Model.Price €
        
        @Html.ActionLink("Remove", "RemoveProduct", "Home", new { id = @Model.Id, url = HttpContext.Current.Request.Url.AbsoluteUri }, null)
    </div>
    <div class="pusher"></div>
</div>

