@using EduShop_Unsecure.Models
<link href="~/Content/ShoppingCart.css" rel="stylesheet" />
@if (HttpContext.Current.Session["Order"] != null)
{
    var list = Session["Order"] as List<OrderRowModel>;
    long count = list.Sum(item => item.Quantity);
    if (count > 0)
    {
        <header class="shoppingCartHeader">
            <div class="col-md-5">
                Products
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                Price
            </div>
            <div class="pusher"></div>
        </header>
        foreach (var item in Session["Order"] as List<OrderRowModel>)
        {
            @Html.Action("ShoppingCartItemPartial", "ManageAccount", new { id = item.ProductId, quantity = item.Quantity })
        }

        <div class="shoppingCartSum">
            <div class="col-md-8 cartwidth">
                Total:
            </div>
            <div class="col-md-3 cartwidth">
                @ViewBag.TotalPrice €
            </div>
        </div>
        <section class="checkOut">
            <a class="btn btn-primary" href="@Url.Action("Checkout", "Checkout")">Go to checkout</a>
        </section>
    }
    else
    {
        <header class="shoppingCartHeader">Your shoppingcart is empty.</header>
    }
}
else
{
    <header class="shoppingCartHeader">Your shoppingcart is empty.</header>
}