<link href="~/Content/ShoppingCart.css" rel="stylesheet" />
<header class="shoppingCartHeader">
    <div class="col-md-8">
        Products
    </div>
    <div class="col-md-3">
        Price
    </div>
    <div class="pusher"></div>
</header>

<div class="shoppingCartItem">
    <div class="col-md-8">
        Windows 8 Pro x 1
    </div>
    <div class="col-md-3">
        199 €
    </div>
    <div class="pusher"></div>
</div>

<div class="shoppingCartItem">
    <div class="col-md-8">
        Windows 8 Pro x 1
    </div>
    <div class="col-md-3">
        199 €
    </div>
    <div class="pusher"></div>
</div>

<div class="shoppingCartSum">
    <div class="col-md-8">
        Total:
    </div>
    <div class="col-md-3">
        398 €
    </div>
</div>

<section class="checkOut">
   <a class="btn btn-primary" href="@Url.Action("Checkout","Checkout")">Go to checkout</a>
</section>