@using System.Xml.Schema
@using EduShop_Unsecure.Models
<link href="~/Content/ShoppingCart.css" rel="stylesheet" />
@if (HttpContext.Current.Session["Order"] != null)
{
    <header class="shoppingCartHeader">
        <div class="col-md-8">
            Products
        </div>
        <div class="col-md-3">
            Price
        </div>
        <div class="pusher"></div>
    </header>
    int total;
    foreach (var item in Session["Order"] as List<OrderRowModel>)
    {
        @*<p>@item.ProductId</p>*@
        @Html.Action("ShoppingCartItemPartial", "ManageAccount", new {id = item.ProductId})
    }

    @*<div class="shoppingCartSum">
        <div class="col-md-8">
            Total:
        </div>
        <div class="col-md-3">
            398 €
        </div>
    </div>*@
    <section class="checkOut">
        <a class="btn btn-primary" href="@Url.Action("Checkout", "Checkout")">Go to checkout</a>
    </section>
}
else
{
    <header class="shoppingCartHeader">Your shoppingcart is empty.</header>
}