@model EduShop_Unsecure.Models.ProductModel

<div class="shoppingCartItem">
    <div class="col-md-8">
        @Model.Name x 1
    </div>
    <div class="col-md-3">
        @Model.Price €
    </div>
    <div class="pusher"></div>
</div>

