@{
    ViewBag.Title = "Home";
}
<article class="contentcontainer">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://data-recoverysoftware.net/wp-content/uploads/2014/02/Windows-8.jpg" alt="...">
                <div class="carousel-caption">
                    Windows 8
                </div>
            </div>
            <div class="item">
                <img src="http://wallpoper.com/images/00/36/95/60/adobe-photomanipulations_00369560.jpg" alt="...">
                <div class="carousel-caption">
                    Photoshop
                </div>
            </div>
            <div class="item">
                <img src="http://p1.pichost.me/i/65/1895592.png" alt="..." title="Resharper">
                <div class="carousel-caption">
                    Resharper
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <section class="row">
        <div class="col-md-4">
            <div class="circle">
                <div class="circletext">
                    <p>Welcome to EduShop.</p>
                    <p>The best Software Online</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="circle">
                <div class="circletext">
                    <p>This website is made for security education</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="circle">
                <div class="circletext">
                    <p>This is the Unsecured version of EduShop</p>
                </div>
            </div>
        </div>
    </section>
</article>
